.globe{
    text-align: left;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: rgb(36, 125, 141);
    color:rgb(146, 86, 86);
    font-size: 1.1rem;
}

.h2Tag{
    font-size: 1rem;
 }