.globe{
    text-align: center;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: rgb(254, 254, 254);
    color:black;
    font-size: 1.5rem;
}

.h2Tag{
    font-size: 1.3rem;
 }
